<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./addDataAdmin/addData.css">
    <title>AdminOnly</title>
</head>
<body>
    <div class="mainContainer">
        <img  style="height: 5rem; width:5rem" src="/images/discount.png" alt="">
        <div class="card">
            <p id="indicator"> <%= message %> </p>
            <form action="/admin" method="post" enctype="multipart/form-data" style="display: flex; flex-direction:column;">
                <input name="productname" type="text" required id="productname" placeholder="Enter productname">
                <input type="text" name="productdescription" id="productdescription" placeholder="Enter product description" required>
                <input type="text" name="productprice" id="productprice" placeholder="Enter price in INR" required>
                <input type="file" name="productimg" required>
                <input type="password" id="adminkey" name="adminkey" required>
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </div>
</body>
</html>