.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.card{
    background-color: #195a6a;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 2rem;
    border-radius: 2px;
}

#indicator{
    color: white;
    font-weight: bold;
}

#submit{
    background-color: #407fee;
    border: none;
    border-radius: 2px;
    color: white;
}

.card input{
    padding: .5rem 1rem;
    margin-top: 1rem;
}